/* VARIABLES
========================*/
/* BASE 
========================*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 55%; } }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777777;
  line-height: 1.6;
  background-color: #e9ebee; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
a {
  text-decoration: none; }

label {
  color: white; }

.success {
  color: #4BB543; }

.error {
  color: #d9534f; }

.ml-1 {
  margin-left: 1rem; }

/* LOGO
========================*/
.logo {
  height: 4rem;
  padding: 2.75rem 0;
  display: inline; }

/* LOGIN
========================*/
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center; }
  .login a:hover {
    color: white; }
  .login__status {
    line-height: 1; }
  .login__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center; }
    .login__form > *:not(:last-child) {
      margin-right: 1rem; }
  .login__uname-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .login__pword-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .login__pword-container span a {
      padding-top: 5px;
      font-size: 1.20rem;
      color: #ccd1d8; }
  .login__label {
    font-size: 1.20rem; }
  .login__btn-wrapper {
    margin-top: -3px;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: .25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .login__input {
    max-width: 200px;
    border: 1px solid #08298A;
    height: 25px;
    background-color: #e9ebee;
    text-indent: 1rem; }
    .login__input:focus {
      outline: none;
      background-color: white; }
  .login__btn {
    font-size: 1.25rem;
    height: 25px;
    width: 5.7rem;
    background-color: #084B8A;
    color: white;
    border: 1px solid #08298A;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s; }
    .login__btn:hover {
      background-color: #0958a2; }
  .login__status {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: -.5; }
  .login__reload {
    background-color: transparent;
    outline: none;
    border: none;
    color: #6cc665;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer; }
  .login .disabled {
    background-color: #999999;
    color: #c0c0c0;
    border: none;
    cursor: auto; }

/* HERO
========================*/
@media only screen and (max-width: 68.75em) {
  .hero {
    padding: 0 2rem; } }
.hero__heading-wrapper {
  margin-top: 8rem;
  margin-bottom: 3.5rem; }
.hero__heading--main {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
  color: #1d1d1d; }
.hero__features-list > *:not(:last-child) {
  margin-bottom: 1.5rem; }
.hero__features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.hero__features-icon {
  margin-right: 1rem; }
.hero__heading-sub {
  color: #1d1d1d; }
  .hero__heading-sub span {
    font-weight: 400; }

/* SIGNUP
========================*/
.signup {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .signup {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .signup__heading-main {
    font-size: 3rem;
    color: #1d1d1d;
    line-height: 1;
    margin-top: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .signup__heading-main {
        text-align: center; } }
  .signup__heading-sub {
    font-size: 1.5rem;
    color: #1d1d1d;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .signup__heading-sub {
        text-align: center; } }
  .signup__create-section {
    margin-top: 1.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .signup__create-section {
        padding-left: 1.5rem; } }
  .signup__create-wrapper {
    font-size: 1.5rem;
    font-weight: 700; }
  .signup__create-link {
    font-size: inherit;
    font-weight: inherit;
    color: #4c66a4; }

/* FORMS
========================*/
.form {
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .form {
      max-width: 100%;
      padding: 0 1rem; } }
  .form > * {
    margin-bottom: 2rem; }
  .form__input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .form__input-container > *:not(:last-child) {
      margin-bottom: 1rem; }
  .form__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 68.75em) {
      .form__input {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0; } }
  .form__text-input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #BDBDBD;
    outline: none;
    color: #999999; }
    .form__text-input::-webkit-input-placeholder {
      color: #999999; }
  .form__text-input2 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 40px;
    border-radius: 5px;
    text-indent: 1rem;
    font-size: 18px;
    border: 1px solid #BDBDBD;
    outline: none;
    color: #999999; }
    .form__text-input2:not(:last-of-type) {
      margin-right: 1rem; }
      @media only screen and (max-width: 68.75em) {
        .form__text-input2:not(:last-of-type) {
          margin-right: 0;
          margin-bottom: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .form__text-input2:not(:last-of-type) {
          margin-right: 1rem; } }
      @media only screen and (max-width: 31.25em) {
        .form__text-input2:not(:last-of-type) {
          margin-right: 0; } }
    .form__text-input2::-webkit-input-placeholder {
      color: #999999; }
  .form__select-item {
    outline: none; }
  .form__select-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 68.75em) {
      .form__select-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline; } }
    .form__select-container a {
      color: #4c66a4;
      font-size: 1.15rem;
      line-height: 1.25; }
  .form__bday-label {
    font-weight: 500;
    font-size: 2rem; }
  .form__select-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: auto; }
  .form__select-item {
    height: 30px;
    border: silver 1px solid;
    border-bottom: silver 1px solid;
    width: 75px;
    font-size: 1.25rem;
    color: #999999;
    background-color: white; }
  .form__why {
    margin-left: 1rem; }
  .form__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__radio-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2rem; }
    .form__radio-wrapper label {
      font-weight: 500;
      font-size: 2rem; }
    .form__radio-wrapper > *:not(:last-child) {
      margin-right: .5rem; }
  .form__terms {
    line-height: 1.35;
    letter-spacing: .7px; }
    .form__terms a {
      color: #4c66a4;
      font: 600; }
  .form__btn {
    width: 205px;
    height: 45px;
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif  !important;
    font-weight: bold !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#67ae55), to(#578843));
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    -webkit-box-shadow: inset 0 1px 1px #a4e388;
            box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    outline: none; }
  .form label {
    color: #434343; }

/* CONTAINER
========================*/
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #e9ebee;
  min-height: 50rem; }

/* HEADER
========================*/
.header {
  background-color: #4c66a4; }
  .header__container {
    font-size: 1.4rem;
    max-width: 130rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 1rem; } }
    .header__container a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      margin-right: auto;
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }
      @media only screen and (max-width: 37.5em) {
        .header__container a {
          margin-right: 0;
          width: auto; } }

/* CONTENT
========================*/
.content {
  font-size: 1.4rem;
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50rem; }

/* COL-LEFT
========================*/
.hero {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.25%;
          flex: 0 0 56.25%; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      display: none;
      visibility: hidden; } }
